<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    
    <testsuites>
        <testsuite name="OfflineSync Test Suite">
            <directory>tests</directory>
        </testsuite>
        
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Database/Migrations</directory>
        </exclude>
    </source>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        
        <!-- OfflineSync specific config -->
        <env name="SYNC_API_URL" value="https://api.test.com"/>
        <env name="SYNC_API_TOKEN" value="test-token"/>
        <env name="SYNC_ENCRYPT_QUEUE" value="false"/>
        <env name="SYNC_AUTO_SYNC" value="false"/>
        <env name="SYNC_BATCH_SIZE" value="10"/>
    </php>
    
    <coverage includeUncoveredFiles="true"
              processUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="coverage/html"/>
            <text outputFile="coverage/coverage.txt"/>
            <clover outputFile="coverage/clover.xml"/>
        </report>
    </coverage>
    
    <logging>
        <testdoxHtml outputFile="coverage/testdox.html"/>
        <testdoxText outputFile="coverage/testdox.txt"/>
        <junit outputFile="coverage/junit.xml"/>
    </logging>
</phpunit>
